.scoring_initials {
	font-size: 2rem;
}

.scoring_stroke-handling {
	display: table-cell;
	text-align: center;
	width: 25%;
}

.scoring_stroke-handling--blue .scoring_strokes {
	color: #0132a7;
}
.scoring_stroke-handling--red .scoring_strokes {
	color: #d20004;
}
.scoring_stroke-handling--blue .scoring_change-strokes {
	color: #0132a7;
}
.scoring_stroke-handling--red .scoring_change-strokes {
	color: #d20004;
}

.scoring_strokes {
	font-size: 4rem;
	padding: 0;
	text-align: center;
	display: block;
}

.scoring_change-strokes {
	background-color: #eee;
	display: block;
	font-family: 'Ryder';
	border: 0;
	font-size: 6rem;
	padding: 0;
	margin: 0 auto;
	width: 7rem;
	height: 7rem;
	color: #363b48;
}