.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.table{margin-bottom:0}
  table.table tbody td {
  vertical-align: middle;
}

table.table tr.nochange td{
   -webkit-transition: 4s linear;
    /*to only change opacity*/
    /*-webkit-transition: opacity 1s linear*/
   -moz-transition: 4s linear;
   -o-transition: 4s linear;
   transition: 4s linear;
   opacity: 1;
}
.container-last{
	margin-bottom: 70px;
}

.chatwindow {
	background-color:#f9f9f9;
	border-top: 3px solid #ddd;
	bottom:0;
	height: 70px;
	position:fixed;
	width: 100%;
}

.chatwindow-inside {
	height: 70px;
	overflow: scroll;
	width: 100%;
}

.chatwindow-expanded {
	height: 100%;
}

.chatwindow-expanded .chatwindow-inside {
	height: 100%;
	padding-bottom: 60px;
}

.write {
	position: absolute;
	bottom: 0;
}

.chat-icon {
	padding: 6px;
    position: absolute;
    right: 0;	
}

.chat-icon img{
	height: 32px;
	width: 32px;
}

.hioImg{
	width: 32px;
	height: 32px;
}