.round-selection{
	clear:both;
	display:block;
	border-top:0.2rem solid #e9e8e4;
	border-bottom:0.2rem solid #e9e8e4;
	text-align: center;
}

.round-selection:after{
	content: "";
	display: table;
 	clear: both;
}

.round-selection_title {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	margin:0 auto;
	font-size: 1.8rem;
	line-height: 1.8rem;
	padding: 1.64rem;
	vertical-align: middle;
}

.round-selection_button {
	border: 0;
    background-color: white;
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    display: inline-block;
	float:left;
	color: #727476;
	vertical-align: middle;
}

.round-selection_button--right {
	float:right;
}