.app {
  flex-direction: row;
  display: flex;
  height: auto;
  min-height: 100vh;
  align-items: stretch;
}

.flagContainer {
  max-width: 81px;
  width: 8%;
  background-repeat: repeat-y;
  background-size: contain;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 16px;
}

h1 {
  color: #fff;
  font-size: 3em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 800px) {
  .content {
    padding: 8px 0;
  }
}
