@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.matchup_container {
  flex: 1;
}

.matchup {
  display: flex;
  align-items: center;
  flex: 1;
}

.matchup_team {
  flex: 1;
}

.matchup_player {
  opacity: 0;
  animation: fadein 1.5s;
  animation-fill-mode: forwards;
  align-items: center;
  display: flex;
}

.matchup_player-img {
  border-radius: 64px;
  overflow: hidden;
  height: 112px;
  width: 112px;
}

.matchup_player-logo {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  min-width: 120px;
}

.matchup_player-name {
  margin: 8px;
  font-size: 24px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-family: "Cambria";
  color: white;
  line-height: 30px;
}

.matchup_player-name--alt {
  display: none;
}

.matchup_logo-top {
  display: none;
}

.matchup_logo-top-image {
  width: 120px;
}

.matchup_logo {
  animation: fadein 1.5s;
  display: block;
}

@media screen and (max-width: 1152px) {
  .matchup_player-name {
    font-size: 18px;
  }
  .matchup_player-img {
    border-radius: 46px;
    height: 92px;
    width: 92px;
  }
  .matchup_player-logo {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    min-width: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .matchup_player-img {
    border-radius: 37px;
    height: 74px;
    width: 74px;
  }
  .matchup_player-logo {
    border-radius: 40px;
    width: 80px;
    height: 80px;
    min-width: 80px;
  }

  .matchup_logo-top {
    display: block;
  }

  .matchup_logo {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .matchup_logo-top-image {
    width: 100px;
  }

  .matchup_player-img {
    border-radius: 32px;
    height: 64px;
    width: 64px;
  }
  .matchup_player-logo {
    border-radius: 35px;
    width: 70px;
    height: 70px;
    min-width: 70px;
  }
  .matchup_player {
    flex-direction: column;
  }

  .matchup_player-name {
    display: none;
  }

  .matchup_player-name--alt {
    display: block;
    margin-top: -8px;
    line-height: 18px;
    font-size: 16px;
  }
}
