<!DOCTYPE html>
<html lang="en" ng-app="scoreModule">
  <head>
    <meta charset="utf-8">
    <title>MEGABOWL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  	<meta name="apple-mobile-web-app-capable" content="yes" />
  	<link rel="apple-touch-icon-precomposed" href="static/img/icon.png"/>
  	<link rel="apple-touch-icon" href="static/img/icon.png"/>
    <link rel="stylesheet" href="static/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="static/css/custom.css" media="screen">
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/script.js"></script>
  </head>
  <body ng-controller="mainController">
  	<div class="container" ng-show="!authenticated">
      <div class="row">
        <div class="col-lg-12">
          <h1>Identify yourself, who are you?</h1>
          <form>
            <div class="form-group">
              <select class="form-control" ng-model="user">
                <option ng-repeat="player in players" value="{{player.name}}">{{player.name}}</option>
                <option disabled>---</option>
                <option value="Guest">Guest</option>
              </select>
            </div>
            <button class="btn btn-primary center-block" ng-click="authenticate()">Let's go!</button>
          </form>
        </div>
      </div>
  	</div>
    <div class="container container-last" ng-show="authenticated">
      <div class="row" ng-show="holeInOnePlayerName !== undefined">
        <div class="col-lg-12">
          <h1>{{holeInOnePlayerName}} gjorde en HOLE-IN-ONE!</h1>
          <button class="btn btn-primary center-block" ng-click="holeInOnePlayerName = undefined">"OKEJ"</button>
        </div>
      </div>
      <div class="row" ng-show="holeInOnePlayerName === undefined && !chatExpanded">
        <div class="col-lg-12 nopadding">
          <a href="."><img src="static/img/header.jpg" style="width:100%"/></a>
        </div>
      </div>
      <div class="row" ng-show="holeInOnePlayerName === undefined && !chatExpanded">
        <div class="col-lg-12 nopadding">
          <table class="table">
            <tr>
              <td class="col-md-1"><button class="btn btn-default" ng-class="{'disabled' : currentUserCourse === 0 }" ng-click="selectPreviousCourse()"><</button></td>
              <td class="col-md-10 text-center">{{courses[currentUserCourse].name}}</td>
              <td class="col-md-1 text-right"><button class="btn btn-default" ng-class="{'disabled' : currentUserCourse === (courses.length-1) }"  ng-click="selectNextCourse()">></button></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row" ng-show="holeInOnePlayerName === undefined && !chatExpanded">
        <div class="col-lg-12 nopadding">
          <div class="bs-component">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Spelare <small>(hcp)</small></th>
                  <th class="text-center">{{courses[currentUserCourse].name}}</th>
                  <th class="text-right">Resultat</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="player in players | scoreBoardSorter" ng-click="expanded = !expanded" ng-class="{danger: player.change == 'increase', success: player.change == 'decrease', nochange: player.change == 'none'}">
                  <td><strong>{{::player.name}} </strong><br /><small>(hcp: {{::player.hcp}})</small></td>
                  <td class="text-center">
                    <button class="btn btn-default" ng-click="increase()" ng-show="user !== 'Guest'">+</button>
                    <span class="badge"> {{player.score[courses[currentUserCourse].name]}} </span> 
                    <button class="btn btn-default" ng-click="decrease()" ng-show="user !== 'Guest'">-</button>
                  </td>
                  <td class="text-right"><strong>{{player.currentScore}}</strong><br /><small>Tot: {{player.totalScore}}</small></td>
                </tr>
                <!--tr ng-repeat-end ng-repeat="course in courses" ng-show="expanded">
                  <td>{{::course.name}}</td>
                  <td><button class="btn btn-primary" ng-click="increase()" ng-show="user !== 'Guest'">+</button> <span class="badge"> {{player.score[course.name]}} </span> <button class="btn btn-primary" ng-click="decrease()" ng-show="user !== 'Guest'">-</button></td><td><a ng-confirm-click confirmed-click="holeInOne()" ng-show="user !== 'Guest'"><img src="static/img/hio_icon.png" class="hioImg"></a></td>
                </tr-->
              </tbody>
            </table> 
          </div>
        </div>
      </div>
    </div>

    <div class="chatwindow" ng-class="{'chatwindow-expanded': chatExpanded === true}" ng-show="authenticated && holeInOnePlayerName === undefined">
      <div class="chatwindow-inside">
        <div class="chat-icon" ng-click="chatExpanded = !chatExpanded">
          <img src="static/img/chat_icon.png" />
        </div>
        <table class="table">
          <tbody>
            <tr ng-repeat="message in chatMessages">
              <td ng-class="{danger: message.message === 'HIO'}">{{message.time | date:'HH:mm:ss'}} <span ng-if="message.message !== 'HIO'"><strong>{{message.playerName}}: </strong> {{message.message}}</span><span ng-if="message.message === 'HIO'"><strong>{{message.playerName}} gjorde en HOLE-IN-ONE!</strong></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="write" ng-show="chatExpanded">
        <div class="input-group">
          <input type="text" class="form-control" user-scalable="0" placeholder="Skriv här..." ng-model="chatMessage">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="sendChatMessage()">Skicka</button>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
	
