.team-area {
	float:left;
	padding: 2rem 0 2rem 2rem;
}
.team-area--right{
	float:right;
	padding: 2rem 2rem 2rem 0;
}

.team-area_name{
	font-size: 2.4rem;
}

.team-area_flag{
	height: 3.125rem;
	width: 5.875rem;
}

.team-area_fractal{
	font-size: 4rem;
	float:left;
    margin-top: 3.4rem;
    margin-right: 1.5rem;
    margin-left: -1.5rem;
    margin-bottom: -0.5rem;
}
.team-area_fractal--red{
	color: #d20004;
	margin-right: 0;
}
.team-area_fractal--blue{
	color: #0132a7;
}

.team-area_paragrapgh{
	float: left;
	margin-top: 1rem;
	margin-bottom: 0;
}
.team-area_paragrapgh--right {
	text-align: right;
}

.team-area_score{
	line-height: 8.2rem;
	font-size: 10rem;
	margin: 0 1rem;
}
.team-area_score--red{
	float: left;
	color: #d20004;

}
.team-area_score--blue{
	float: left;
	color: #0132a7;
	margin-left: 0;
}