.matchup {
  border-bottom:0.2rem solid #e9e8e4;
  display: table;
  text-transform: uppercase;
  width: 100%;
  height: 10rem;
}

/* Breaking BEM start */
.matchup--right-leader .matchup_score {
  color: #0132a7;
}
.matchup--left-leader .matchup_score {
  color: #d20004;
}

.matchup--right-leader .matchup_name--right {
  background-color: #0132a7;
  color: white;
}
.matchup--left-leader .matchup_name--left {
  background-color: #d20004;
  color: white;
}

.matchup--right-leader .matchup_name--right:before {
  content:"";
  position:absolute;
  border-bottom: 5rem solid transparent;
  border-right: 2.5rem solid #0132a7;
  border-top: 5rem solid transparent;
  height: 0px;
  width: 0px;
  margin-left:-2.5rem;
  left: 0;
  top: 0;
}
.matchup--left-leader .matchup_name--left:before {
  content:"";
  position:absolute;
  border-bottom: 5rem solid transparent;
  border-left: 2.5rem solid #d20004;
  border-top: 5rem solid transparent;
  height: 0px;
  width: 0px;
  margin-right:-2.5rem;
  right: 0;
  top: 0;
}
/* Breaking BEM stop */

.matchup_initial {
  font-family: 'Cambria';
  font-style: italic;
}

.matchup_name {
  display: table-cell;
  font-size: 2rem;
  position: relative;
  width: 35%;
  vertical-align: middle;
}

.matchup_name--left {
  text-align: left;
  border-left: 1rem solid #d20004;
  padding-left: 1rem;
}

.matchup_name--right {
  text-align: right;
  border-right: 1rem solid #0132a7;
  padding-right: 1rem;
}

.matchup_score {
  display: table-cell;
  font-size: 3rem;
  text-align: center;
  color: #b8b8b8;
  width: 30%;
  vertical-align: middle;
}