.scoring_storing {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 50%;
}

.scoring_storing--down{
	display: block;
	text-align: center;
	margin-bottom: 2rem;
	width: 100%;
}

.scoring_storing--down .scoring_storage-button {
	display: inline-block;
	margin: 0 1rem;
}

.scoring_storage-button {
	background-color: white;
	display: block;
	font-family: 'Ryder';
	border: 0;
	font-size: 4rem;
	height: 7rem;
	width: 14rem;
	margin: 1rem auto 1rem auto;
	padding: 0;
	color: #363b48;
}