.scoring_holes {
	text-align: center;
	padding: 1rem 0 2rem 0;
	display: block;
	width: 100%;
}
.scoring_hole {
	background: white;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 0.2rem solid #eee;
    display: inline-block;
    vertical-align: middle;
}
.scoring_hole--selected {
	border: 0.2rem solid #333 !important;
}
.scoring_hole--red {
	background: #d20004;
}
.scoring_hole--blue {
	background: #0132a7;
}
.scoring_hole--even {
	background: #b8b8b8;
}
.scoring_hole--dead {
	border: 0.2rem solid white;
	background: #eee;
}
.scoring_info {
	font-family: 'Cambria';
	font-style: italic;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 0rem;
	margin-top: 1rem;
	width: 100%;
}