.scoring {
	background-color: #eee;
	display: table;
	height: 32rem;
	width: 100%;
}

.scoring_action-area {
	display: table;
	width: 100%;
}

.scoring_button-label {
	display: table-cell;
	width: 15%;
	vertical-align: middle;
}
.scoring_button-label--right{
	text-align: right;
}
.scoring_button {
	border: 0;
	padding: 8rem 2rem;
	background-color: #eee;
	color: #727476;
	font-size: 2rem;
}



.scoring_actions {
	display: table-cell;
	width: 70%;
}